.color-picker {
    position: relative;
    text-align: center;
    max-width: fit-content;
    margin: 50px 50px;
    padding: 0;
    background-color: white;
}

.color-picker ul {
    margin: 0;
    padding: 0;
}

.color-picker li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 2px solid #e2e2e2;
    border-radius: 50%;
    cursor: pointer;
}